@font-face {
	font-family: Roboto;
	line-height: 1%;
	src: url("fonts/Roboto-Regular.ttf");
}
*{
	font-family: Roboto;
	font-size: 6.5pt;
}
#clock{
	text-align: center;
	margin: -5%;
}
ul > li{
	margin-left: -40%;
}
