@font-face {
	font-family: Roboto;
	line-height: 1%;
	src: url("fonts/Roboto-Regular.ttf");
}
#clock{
		/*float: right;*/
		border:1px solid black;
		border-radius:4px;
		/*width:24px;*/
}
*{
	font-family: Roboto;
	font-size: 6.5pt;
}
#balance-div {
	text-decoration:underline;
}
.swipe-btn {
	border:1px solid black;
	border-radius:2px;
}
#main_text {
	width:8em;
	margin: 0 auto 0 auto;
    	text-align: center;
	font-weight:bold;
	text-decoration:underline;
}
th {
        font-weight:bold;
}
*::-webkit-scrollbar {
	width: 0 !important;
}
body{
	background-color: white;
 	background-image: url("images/background-default.jpg");
	background-size:120% 140%;
	background-repeat: no-repeat;
	
}
#clock{
	border:1px solid black;
	border-radius: 4px;
	text-align: center;
	/*margin: -5%;*/
}
ul > li{
	margin-left: -40%;
}

#sensor-ok_list li {

	list-style: none;
}

#final_balance {
	font-size: 9px;
}

.numerical {

	width:10px;
	height:17px;
}

.alpha
{
	width:10px;
	height:17px;
}

#ok {
	width:29px;
	height:17px;
	margin-left: -31px;
}

#cancel {
	width:49px;
}

#wallet_menu button {
	width:48px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
#title {
        font-weight:bold;
}

.pin_button{
	border:1px solid black;
	border-radius: 4px;
	text-align: center;
}
